<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>NPR Articles</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src=""></script>
	</head>
	<body>
        <h1>The Great E-Scrape of Articles from NPR</h1>

		{{{ body }}}

	</body>
</html>
