<h1>Articles</h1>

<li>

    {{#each this}}

    <div>

	    <button class="title-bttn" data-id="{{id}}">
            {{title}}
	    </button>

        <p>{{link}}</p>

    </div>

    {{/each}}

</li>
