<h2>Articles</h2>

{{!-- FOR EACH OBJECT IN THE ARRAY --}}
{{#each this}}

{{!-- CREATE A CARD --}}
    <div class="card">
        <div class="card-body">

{{!-- CREATE A BUTTON WITH THE TITLE --}}
	    <h4 class="title-bttn" data-id="{{id}}">
            {{title}}
	    </h4>

{{!-- DISPLAY LINK --}}
<a href='{{link}}'>LINK</a>

        </div>
    </div>

{{/each}}
